<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button
            class="top-bar__more js-toggle d-none d-lg-block"
            toggle-target="#navbar"
        >
            <img
                src="./assets/icons/more.svg"
                alt=""
                class="icon top-bar__more-img"
            />
        </button>
        <!-- Logo -->
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo-annanas.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__title">Sunshoes</h1>
        </a>
        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                <img
                    src="./assets/icons/arrow-left.svg"
                    alt=""
                    class="navbar__arrow-left-img icon"
                />
            </button>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img
                    src="./assets/icons/buy.svg"
                    alt=""
                    class="nav-btn__icon icon"
                />
                <span class="nav-btn__title">Card</span>
                <span class="nav-btn__qnt">3</span>
            </a>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img
                    src="../assets/icons/heart.svg"
                    alt=""
                    class="nav-btn__icon icon"
                />
                <span class="nav-btn__title">Favorite</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#" class="navbar__link"
                        >SẢN PHẨM
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                    <div class="dropdown js-dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <div class="sub-menu sub-menu--not-main">
                                    <div class="sub-menu-column">
                                        <!-- MENU-COLUMN-01 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate7.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate7.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">NỔI BẬT</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                        >
                                                            Best Seller</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                        >
                                                            New Arrival
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Sale off</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- MENU-COLUMN-02 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate8.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate8.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">BỘ SẢN PHẨM</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                        >
                                                            Pattas Living
                                                            Journey
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >NỔI BẬT Basas
                                                            Evergreen
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                        >
                                                            Basas Evergreen
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                        >
                                                            Urbas Ruler
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Track 6 Class E
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-menu-column">
                                        <!-- MENU-COLUMN-03 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate9.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate9.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">GIÀY</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Dòng sản phẩm</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                        >
                                                            Basas
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Vintas</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Urbas</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Pattas</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Creas</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Track 6</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Cookies &
                                                            Brownies</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate10.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate10.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">Style</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Hight-top</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Low-top</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Slip-on</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-menu-column">
                                        <!-- MENU-COLUMN-04 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate11.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate11.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">THỜI TRANG</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Basic tee</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Graphic tee</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Sweatshirt</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- MENU-COLUMN-05 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate12.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate12.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">PHỤ KIỆN</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Nón</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Dây giày
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Vớ
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Túi tote
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-menu-column">
                                        <!-- MENU-COLUMN-04 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate13.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate13.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">BỘ SƯU TẬP</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Track 6 - OG</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Track 6 - I - S - S
                                                            - E</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Basas</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Pastas</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- MENU-COLUMN-05 -->

                                        <div class="menu-column">
                                            <div class="menu-column__icons">
                                                <img
                                                    src="./assets/img/category/cate14.1.svg"
                                                    alt=""
                                                    class="menu-column__icon-01"
                                                />
                                                <img
                                                    src="./assets/img/category/cate14.2.svg"
                                                    alt=""
                                                    class="menu-column__icon-02"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2
                                                    class="menu-column__heading"
                                                >
                                                    <a href="#">COLABORATION</a>
                                                </h2>
                                                <ul class="menu-column__list">
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Doraemon</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Ngọt
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Disney
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >D.C
                                                        </a>
                                                    </li>
                                                    <li
                                                        class="menu-column__item"
                                                    >
                                                        <a
                                                            href="#"
                                                            class="menu-column__link"
                                                            >Mavel Studio</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"
                        >NAM
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"
                        >NỮ
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
            </ul>
        </nav>

        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- TOP-ACTIONS -->

        <div class="top-act">
            <a href="./sign-in.html" class="btn btn--text">Sign in</a>
            <a href="./sign-up.html" class="btn btn--primary">Sign up</a>
        </div>
    </div>
</div>
